# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
backend/node_modules
/package-lock.json
package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

./svelte-kit


node_modules

.svelte-kit
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit/ambient.d.ts
.svelte-kit/tsconfig.json
.svelte-kit/generated/root.svelte
.svelte-kit/generated/client/app.js
.svelte-kit/generated/server/internal.js
