@tailwind base;
@tailwind components;
@tailwind utilities;

html:root {
  cursor: none;
  scroll-behavior: smooth;
  @apply bg-base-100 text-neutral;
}

.cursor-pointer {
  cursor: none !important;
}
a,
button {
  cursor: none !important;
}
